# This workflow will install Octave and run unit tests and the demos

name: Octave application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y octave octave-dev octave-image octave-statistics
    - name: Run tests
      run: |
        cd code
        octave --no-gui --eval "pkg load image; pkg load statistics; run_all_tests()"
    - name: Run demo
      run: |
        cd code
        octave --no-gui --eval "pkg load image; pkg load statistics; demo()"